@keyframes btn-loading {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &--big{
        min-width: 216px;
        height: 48px;
        border-radius: 50px;
        background: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);
        color: #FFFFFF;
        font-weight: 600;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px;
    }

    &--help{
        position: relative;
        justify-content: initial;
        padding-left: 75px;
        margin-left: 20px;
        max-width: 328px;
        height: 70px;
        border-radius: 15px;
        background-color: darken($bg-color, 3);
        font-size: 0.9em;
        font-weight: 500;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px -3px;
        transition-duration: 0.3s;
        &:hover{
            background-color: lighten($color-primary, 36);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 15px -3px;
            & i{
                color: $color-primary;
            }
        }
    }

    &--mini{
        position: absolute;
        left: -9px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 22px;
        height: 22px;
        border-radius: 50px;
        background-color: $color-primary;
        color: $bg-color;
        font-weight: 600;
        color: #FFFFFF;
    }

    &--new{
        position: absolute;
        top: 13px;
        right: 13px;
        width: 80px;
        height: 30px;
        border-radius: 3px;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40);
        font-weight: 500;
        font-size: 0.9em;
    }

    &--menu{
        position: relative;
        cursor: pointer;
        padding: 16px 0 16px 10px;
        max-width: 500px;
        height: 70px;
        border-radius: 15px;
        background-color: $bg-color;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px;
        overflow: hidden;
        font-weight: 500;
        gap: 3px;
        justify-content: space-between;

        animation: btn-loading 1000ms 300ms ease both;

        &:hover{
            .btn--menu-checked{
                width: 60px;
                transition: all 400ms ease;

                & i{
                    transform: rotate(360deg);
                    transition: all 400ms ease;
                }
            }

            &.btn--menu .menu-price{
                margin-right: 5px;
                transition: all 320ms 80ms ease;
            }
        }

        &-checked{
            right: 0;
            height: 70px;
            width: 0px;
            background-color: $color-tertiary;
            border-radius: 0 15px 15px 0;
            transition: all 400ms ease;
            overflow: hidden;

            & i{
                font-size: 1.5em;
                color: $bg-color;
            }
        }

        & h4{
            letter-spacing: 0.02em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & p{
            font-size: 0.95em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .menu{
            margin-right: auto;
            overflow: hidden;

            &-price{
                padding-left: 10px;
                padding-right: 14px;
                font-weight: 500;
                color: darken($bg-color, 75);
                flex-grow: 2;
                text-align: end;
                transition: all 400ms ease;
                align-self: self-end;
            }
        }
    }
}

@for $i from 1 to 11 {
    .menu-#{$i}{
        animation-delay: 300ms*$i;
    }
}
