
/* WALKER */
@keyframes shake {
    0%{
        transform: rotate(-10deg);
    }

    100%{
        transform: rotate(10deg);
    }
    
}

@keyframes walk-desktop {
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(270px);
    }
    
}

@keyframes walk-phone {
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(221px);
    }
    
}

@keyframes step {
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }
    
}

/* VISIBILITY */
@keyframes opa {
    0%{
        opacity: 0;
    }

    20%, 90%{
        opacity: 1;
    }
    
    100%{
        opacity: 0;
    }
    
}

@keyframes move {
    0%{
        transform: translate(-50%, -15%);
    }

    100%{
        transform: translate(-1000px);
    }
}

.spinner-omf{
    position: absolute;
    z-index: 9;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -15%);
    height: 150px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-queries($mq-phone){
        top: 15vh;
    }

    animation: opa 3800ms 250ms ease both, move 1000ms 4050ms linear both;

    &__tilte{
        font-family: $logo-font;
        font-size: 3.5em;
        font-weight: 700;
        @include media-queries($mq-phone){
            font-size: 3em;
        }
    }

    &__load{
        position: relative;
        height: 30px;
        width: 320px;
        display: flex;
        align-items: center;
        @include media-queries($mq-phone){
            width: 269px;
        }

        &::after{
            content:"- - - - - - - - - - - - -";
            position: absolute;
            left: 28px;
            top: 5px;
            color: darken($color-tertiary, 10);
            font-size: 2em;
            font-weight: 700;
            width: 100%;
            height: 100%;
            overflow: hidden;

            @include media-queries($mq-phone){
                content:"- - - - - - - - - - - - - -";
                left: 25px;
                font-size: 1.5em;
            }

            animation: step 3500ms 800ms linear both;
            -webkit-animation: step 3500ms 800ms linear both;
        }

        &--walk{
            animation: walk-desktop 3000ms 600ms linear both;
            @include media-queries($mq-phone){
                animation: walk-phone 3000ms 600ms linear both;;
            }
            &>i.fa-person-walking{
                color: darken($color-secondary, 10);
                animation: shake 500ms 250ms linear both alternate 7;
            }
        }

        & i{
            font-size: 1em;
        }

        &>i.fa-house{
            color: darken($color-primary, 10);
        }

        &>i.fa-utensils{
            margin-left: auto;
            color: darken($color-primary, 10);
        }

        
    }

}