*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    font-family: $text-font, sans-serif;
}

a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:visited{
    color: initial;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 1.8em;
    font-weight: 700;

    @include media-queries($mq-phone) {
        font-size: 1.5em;
    }
}

h3{
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.03em;
    @include media-queries($mq-phone){
        font-weight:300; 
    }
}

h4{
        font-size: 1.1em;
        font-weight: 600;
}

.hidden{
    visibility: hidden;
}

html{ 
    scroll-behavior: smooth;
}

ul{
    list-style-type: none;
} 