/* MIXINS */
/* Media Queries */
@mixin media-queries ($size) {
    @media screen and (max-width: $size) {
        @content;
    }
} 

/* Alignment */
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}