/* Font */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');
    $logo-font: "Shrikhand", cursive;
    $text-font: "Roboto", sans-serif;

/* Color */
    $color-primary: #9356DC;
    $color-secondary: #FF79DA;
    $color-tertiary: #99E2D0;
    $bg-color: #FFFFFF;

/* Size */
    $mq-tablette: 992px;
    $mq-phone: 650px;